.contactListItem {
    display: flex;
    justify-content: space-between;
}

.contactListItem:not(:last-child) {
    margin-bottom: 10px;
}

.contact {
    margin: 0;
}

.contactLink {
    margin-left: auto;
    text-decoration: none;
    color: currentColor;
}

.contactLink:hover,
.contactLink:focus {
    color: rgb(77, 194, 248);
}

.buttonDelete {
    margin-left: 50px;
}