.form {
  width: 300px;
  margin: 0 auto;
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
}

.title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}

.titleHome {
  margin-bottom: 20px;
}
